:root {
    --color-text-light: #000;
    --color-text-dark: #fff;

    /* --background-color-light: #2b6268; */
    --background-color-light: #fff;
    
}

div#app > main {
    min-height: 100vh;
}
div#app {
    overflow-x: hidden;
}

body.va-screen-lg {
    min-height: 100vh;
    padding-right: 0 !important;
}


button.bttn {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: .5rem;
    /* height: 40px; */
    display: inline-block;
    margin: auto 0;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
a.bttn {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: .5rem;
    display: inline-block;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
  
button.bttn:after, a.bttn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

button.bttn:before, a.bttn:before {
    speak: none;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    background: rgba(0,0,0,0.15);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Primary button */
button.bttn-prim, a.bttn-prim {
    background: #3498db;
    color: #fff;
}
  
button.bttn-prim:hover, a.bttn-prim:hover {
    background: #2980b9;
    color: #fff;
}

button.bttn-prim:active, a.bttn-prim:active {
    background: #2980b9;
    color: #fff;
    top: 2px;
}

/* Outline Primary button */
button.bttn-prim-out, a.bttn-prim-out {
    background: transparent;
    color: #3498db;
    border: 1px solid #3498db;
}

button.bttn-prim-out:hover, a.bttn-prim-out:hover {
    background: #0000002f;
    color: #3498db;
}

button.bttn-prim-out:active, a.bttn-prim-out:active {
    background: #0000002f;
    color: #3498db;
    top: 2px;
}


/* Success button */
button.bttn-succ, a.bttn-succ {
    background: #2ecc71;
    color: #fff;
}

button.bttn-succ:hover, a.bttn-succ:hover {
    background: #27ae60;
    color: #fff;
}

button.bttn-succ:active, a.bttn-succ:active {
    background: #27ae60;
    color: #fff;
    top: 2px;
}

/* Outline Success button */
button.bttn-succ-out, a.bttn-succ-out {
    background: transparent;
    color: #2ecc71;
    border: 1px solid #2ecc71;
}

button.bttn-succ-out:hover, a.bttn-succ-out:hover {
    background: #0000002f;
    color: #2ecc71;
}

button.bttn-succ-out:active, a.bttn-succ-out:active {
    background: #0000002f;
    color: #2ecc71;
    top: 2px;
}
  
/* Danger button */
button.bttn-dng, a.bttn-dng {
    background: #e74c3c;
    color: #fff;
}
  
button.bttn-dng:hover, a.bttn-dng:hover {
    background: #c0392b;
    color: #fff;
}
  
button.bttn-dng:active, a.bttn-dng:active {
    background: #c0392b;
    color: #fff;
    top: 2px;
}

/* Outline Danger button */
button.bttn-dng-out, a.bttn-dng-out {
    background: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}
  
button.bttn-dng-out:hover, a.bttn-dng-out:hover {
    background: #0000002f;
    color: #e74c3c;
}
  
button.bttn-dng-out:active, a.bttn-dng-out:active {
    background: #0000002f;
    color: #e74c3c;
    top: 2px;
}


/* Dark button */
button.bttn-drk, a.bttn-drk {
    background: #34495e;
    color: #fff;
}
  
button.bttn-drk:hover, a.bttn-drk:hover {
    background: #2c3e50;
    color: #fff;
}
  
button.bttn-drk:active, a.bttn-drk:active {
    background: #2c3e50;
    color: #fff;
    top: 2px;
}

/* Outline Dark button */
button.bttn-drk-out, a.bttn-drk-out {
    background: transparent;
    color: #34495e;
    border: 1px solid #34495e;
}
  
button.bttn-drk-out:hover, a.bttn-drk-out:hover {
    background: #0000002f;
    color: #34495e;

}
  
button.bttn-drk-out:active, a.bttn-drk-out:active {
    background: #0000002f;
    color: #34495e;
    top: 2px;
}

/* Button Close */

button.bttn-close, a.bttn-close {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
  }